<!doctype html>
<html lang="fr" data-fr-scheme="system">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Data site labinnov</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="{{ url_for('static', filename='dsfr/dsfr.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='utility/utility.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='utility/utility.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='utility/main.css') }}"/>
     <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


     <style>
        body { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
        
.card-margin {
    margin-bottom: 1.875rem;
}

.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}

.card .card-header.no-border {
    border: 0;
}
.card .card-header {
    background: none;
    padding: 0 0.9375rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    min-height: 50px;
}
.card-header:first-child {
    border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}

.widget-49 .widget-49-title-wrapper {
  display: flex;
  align-items: center;
}
        
     </style>

 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <meta name="theme-color" content="#000091">


<script>
  window['dsfr'] = {
    // verbose: true,
    // production: true,
    // mode: 'manual',
  };
</script>
 <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism.min.css" rel="stylesheet" />
 <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/toolbar/prism-toolbar.min.css" rel="stylesheet" />
<title>Titre de la page - Nom du site</title>
</head>
<body>
    <div class="container-fluid">
        <h1 style="margin-left: 60%">Application data</h1>
   
    
<!--      code de la page     -->
<br>
<div class="container-fluid" style = "margin-left: 70px;">
    
        <h2>Welcome to Simple apply flask innovmandie</h2>
    <br>
    <div class="row">
      <div class="col">
        <div class="card text-center" style= "background-color: #b4f6ff; ">
          <div class="card-body" style="box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23)">
            <h4>Data from titanic csv load in flask app</h4>
            <div class="table table-bordered text-center" width="800px" style="background-color: rgb(255, 237, 170);border-collapse: collapse;border-color: red #f015ca;">
              <table class="table table-responsive">
                {{ data|safe }}
                </table>
               
          
            </div>
          </div>
        </div>
        
      </div>
      </div>
    
    <br>
<div class="row">
<br>
  <div class="col">
    <div class="card" style="width: 24rem; box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23)">
      <div class="card-body" style="background-color: aqua;">
        <h5 class="card-title">Data shape</h5>
        <h4 class="card-subtitle mb-2">{{ info_shape }}</h4>
      </div>
    </div>
    <br>
    
  </div>
  <div class="col">
    <div class="card" style="width: 30rem; background-color: aquamarine;  box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23)" >
      <div class="card-body">
        <h5 class="card-title">Genre people</h5>
        <h4>{{ percent_genre }}</h4>
      </div>
    </div>
    <br>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem; box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23)">
      <div class="card-body" style="background-color: pink;">
        <h5 class="card-title">Data class embarked</h5> 
        <h4>{{ class_info }}</h4>
      </div>
    </div>
    <br>
  </div>
</div>
<div class="row">
  <br>
    <div class="col">
      <div class="card" style="width: 24rem; box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23)">
        <div class="card-body" style="background-color: aqua;">
          <h5 class="card-title">SURVIVED</h5>
          <h4 class="card-subtitle mb-2">{{ percent_survived }}</h4>
        </div>
      </div>
      <br>

</div>
  </div>
  

</div>

<!-- Scripts design etat-->
<script type="module" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='./dist/core/core.module.js') }}"></script>

<script type="module" src="{{ url_for('static', filename='./dist/scheme/scheme.module.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='./dist/component/accordion/accordion.module.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='./dist/component/navigation/navigation.module.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='./dist/component/header/header.module.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='./dist/component/breadcrumb/breadcrumb.module.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='./dist/component/display/display.module.js') }}"></script>


<script type="module" src="{{ url_for('static', filename='./dist/component/header/header.module.js') }}"></script>
<script type="text/javascript" nomodule src="{{ url_for('static', filename='./dist/core/core.nomodule.js') }}"></script>
<script type="text/javascript" nomodule src="{{ url_for('static', filename='./dist/legacy/legacy.nomodule.js') }}"></script>
<script type="text/javascript" nomodule src="{{ url_for('static', filename='./dist/core/core.nomodule.js') }}"></script>
<script type="text/javascript" nomodule src="{{ url_for('static', filename='./dist/component/modal/modal.nomodule.js') }}"></script>
<script type="text/javascript" nomodule src="{{ url_for('static', filename='./dist/component/display/display.nomodule.js') }}"></script>
<script type="text/javascript" nomodule src="{{ url_for('static', filename='./dist/component/header/header.nomodule.js') }}"></script>



 <!-- Bootstrap core JS-->
 <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
</body>
</html>
